<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/images/drivebuzz-logo.png" width="160" alt="logo">
  </a>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" RouterLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" RouterLinkActive="active">
        <a class="nav-link" routerLink="/offers">Offers</a>
      </li>
      <li class="nav-item" RouterLinkActive="active">
        <a class="nav-link" routerLink="/demands">Demands</a>
      </li>
    </ul>
    <ul *ngIf="!signedUserService.isUserSigned()" class="nav navbar-nav">
      <li><a class="nav-link" routerLink="/signin">Login</a></li>
      <li><a class="nav-link" routerLink="/signup">Sign Up</a></li>
    </ul>
    <ul *ngIf="signedUserService.isUserSigned()" class="nav navbar-nav">
      <li><a class="nav-link" routerLink=""> <i class="fas fa-lg fa-inbox"></i> </a></li>
      <li><a class="nav-link" routerLink=""> <i class="fas fa-lg fa-exclamation-circle"></i> </a></li>
      <li><a class="nav-link" routerLink="/my-profile"> <i class="far fa-lg fa-id-card"></i> </a></li>
      <li>
        <div class="btn-group">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">My offers</button>
            <button class="dropdown-item" type="button">My demands</button>
            <button class="dropdown-item" type="button">Create offer</button>
            <button class="dropdown-item" type="button">Create demand</button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" routerLink="/signin" (click)="onLogOut()"><i class="fas fa-sign-out-alt"></i> Log out</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>