<form>
  <div class="form-group">
    <label for="a">Username</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="b">First name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="c">Last name</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="d">Email</label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label for="e">Phone</label>
    <input type="text" class="form-control">
  </div>
  <hr>
  <button type="button" 
          class="btn btn-success btn-lg btn-block"
          (click)="onCancel()">
          Save
  </button>
</form>
