<div class="btn-group mt-1 mr-2" role="group">
  <button type="button" 
          class="btn btn-primary"
          routerLink="/offers/latest/1">
      Latest Offers
  </button>
  <button type="button" 
          class="btn btn-primary"
          routerLink="/offers/my-offers/1">
      My Offers
  </button>
</div>
<div class="btn-group mt-1" role="group">
  <button type="button"
          class="btn btn-primary"
          routerLink="/offers/today/1">
      Today
  </button>
  <button type="button" 
          class="btn btn-primary"
          routerLink="/offers/next-7-days/1">
      Next 7 days
  </button>
  <button type="button"
          class="btn btn-primary"
          routerLink="/offers/next-month/1">
      Next month
  </button>
</div>
<div class="input-group flex-nowrap mt-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping" (click)="test()">
      <i class="fas fa-search"></i>
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Search..." (keyup.enter)="test()">
</div>
<a data-toggle="collapse" href="#advancedSearchCollapse" aria-expanded="false">
  Advanced Search
</a>
<div class="collapse" id="advancedSearchCollapse">
  <div class="card card-body">
    Ubaci advanced search
  </div>
</div>
