<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary">Latest Offers</button>
  <button type="button" class="btn btn-primary">My Offers</button>
  <button type="button" class="btn btn-primary">Right</button>
</div>
<div class="input-group flex-nowrap mt-1">
  <div class="input-group-prepend">
    <span class="input-group-text" id="addon-wrapping">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
</div>
