<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 mt-3">
      <div class="info-wrapper">
        <h1>User Info</h1>
        <hr>
        <h5>Username: <span class="info-value">{{ user.username }}</span></h5>
        <hr>
        <h5>First name: <span class="info-value">{{ user.userInfo.firstName }}</span></h5>
        <hr>
        <h5>Last name: <span class="info-value">{{ user.userInfo.lastName }}</span></h5>
        <hr>
        <h5>Email: <span class="info-value">{{ user.userInfo.email }}</span></h5>
        <hr>
        <h5>Phone: <span class="info-value">{{ user.userInfo.phone }}</span></h5>
        <hr>
        <button type="button" class="btn btn-primary btn-lg btn-block">Change info</button>
        <br>
        <hr>
        <h5>Number of active offers: </h5>
        <h5>Number of active demands: </h5>
        <hr>
        <h5>Number of done offers: </h5>
        <h5>Number of done demands: </h5>
        <hr>
      </div>
    </div>
    <div class="col-12 col-md-6 mt-3">
        <div class="content-wrapper">
          <div class="offers-wrapper">
            <h1>My Offers</h1>
            <hr>
            <button type="button" class="btn btn-primary btn-block">view all</button>
          </div>
          <div class="offers-wrapper mt-4">
            <h1>My Demands</h1>
            <hr>
            <button type="button" class="btn btn-primary btn-block">view all</button>
          </div>
        </div>
      </div>
  </div>
</div>
