<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 center-align">
      <img src="assets/images/drivebuzz-logo.png" width="90%" alt="logo">
      <hr>
      <h2>Thanks for visiting our site!</h2>
      <h4>Join DriveBuzz community.</h4>
    </div>
    <div class="col-12 col-md-6 center-align">
      <h4>Sign up today for free!</h4>
      <a routerLink="/signup" class="btn btn-danger btn-lg active mt-3" role="button" aria-pressed="true">Register</a>
      <h4 class="mt-4">Or login if u already have account!</h4>
      <a routerLink="/signin" class="btn btn-success btn-lg active mt-3" role="button" aria-pressed="true">Login</a>
    </div>
  </div>
</div>
