a {
    background: rgb(255, 186, 96);
    color: rgb(0, 123, 255) !important;
    text-decoration: none;
}

.list-group-item {
    border: 2px solid rgba(0, 0, 0, 0);
}

.list-group-item:hover {
    border: 2px solid rgb(0, 123, 255);
}

.page-link {
    background: rgb(0, 123, 255);
    color: white !important;
    border-color: rgb(255, 186, 96);
}

.page-link:hover {
    background: rgb(0, 90, 187);
}

.active {
    background: rgb(0, 90, 187);
}