<div *ngIf="offers === undefined">
    <p>Loading...</p>
</div>
<div *ngIf="offers === null">
    <p>There are no such offers!</p>
</div>
<div *ngFor="let offer of offers">
    <a
        style="cursor: pointer;"
        class="list-group-item clearfix mt-2"
        [routerLink]="['/offer-detail', offer.id]"
    >
        <h3 class="list-group-item-heading text-center">
            {{ offer.departurePlace }} - {{ offer.destinationPlace }}
        </h3>
        <div class="float-left">
            <h4>Free seats: {{ offer.seatsNumber }}</h4> 
            <p>Active: {{ offer.active }}</p>
            <a>
                {{ offer.user.username }}
            </a>
        </div>
        <span>
            <p class="list-group-item-text text-right">
                Depart. date: {{ offer.departureDate }}
            </p>
            <p class="list-group-item-text text-right">
                Depart. time: {{ offer.departureTime }}
            </p>
        </span>
    </a>
</div>
<nav *ngIf="offers != undefined && offersType != 'my-offers'" 
      aria-label="Page navigation"
      class="mt-3">
    <ul class="pagination pg-blue justify-content-center">
        <li class="page-item">
            <a class="page-link"
               aria-label="Previous"
               (click)="onPrevious()"> 
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li *ngFor="let page of pages" class="page-item">
            <a class="page-link"
               (click)="scrollToTop()"
               routerLinkActive="active" 
               [routerLink]="['/offers', offersType, page]">
                {{ page }}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link"
               aria-label="Previous"
               (click)="onNext()">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>