a {
    background: rgb(255, 186, 96);
    color: rgb(0, 123, 255) !important;
}

.list-group-item {
    border: 2px solid rgba(0, 0, 0, 0);
}

.list-group-item:hover {
    border: 2px solid rgb(0, 123, 255);
}